html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
Link {
  text-decoration: none !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(253, 253, 253);
  }
}
.iframes_all{
  width: 70% !important;
  margin-left: 16%;
  height: 70vh;
  margin-bottom: 5%;
 }
 .body_all{
   background-color: #eff7fa;
 }
 .headerContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 .headerContainer h2 {
   font-family: "Roboto" !important;
   font-style: normal;
   font-weight: 500;
   font-size: 40px;
   line-height: 47px;
   color: #110b57 !important;
 }
 .headerContainer p {
   font-family: "Roboto" !important;
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 27px;
   text-align: center;
   color: #7d7d7d !important;
   padding: 1px 170px 20px 170px;
   margin-top: -1%;
 }
 .react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: #E0E8F2 !important;
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
 
  cursor: pointer;
}
.react-multiple-carousel__arrow:hover{
  background-color: black !important;
  width: 50px;
  height: 50px;
}
.react-multi-carousel-dot button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  padding: 5px 5px 5px 5px;
  box-shadow: none;
  transition: background .5s;
  border-width: 2px;
  border: none !important;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  outline: 0;
  cursor: pointer;
  background: grey;
}
.react-multi-carousel-dot--active button {
  background: #110b57 !important;
}
 @media screen and (max-width: 768px) {
   
   .iframes_all{
     width: 80% !important;
     margin-left: 8%;
     height: 40vh;
   }
 }
