html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

html * {
  box-sizing: border-box;
  font-family: Roboto !important;

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/***********************************Start Speak to Us section ************************************/
