/* #########################################Header############################################### */
.phone__no {
  margin-bottom: 0px !important;
}
.icons__all {
  margin-top: 31%;
  margin-left: 29%;
}
.short_tab_line_button {
  display: none;
}
.short_tab_ul {
  display: none;
}
.courses__text1:hover + .hover__div {
  border-top: none;
}
.hover__div {
  /* display: none; */
  position: absolute;
  top: 98px;
  width: 870px;
  left: -15px px;
  background: white;
  /* padding: 10px 0px; */
  border-bottom: 3px solid #d9bd3e;
  border-left: 3px solid #d9bd3e;
  border-right: 3px solid #d9bd3e;
  z-index: 2;
}
.hover__container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.hover__row {
  width: 100%;
  justify-content: space-between;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px; */
  /* margin-left: -15px; */
  box-sizing: border-box;
}
.hover__colomn {
  width: 25%;
  justify-content: flex-start;
  padding-left: 2%;
}
.hover__item {
  margin: 7px 2px;
  display: list-item;
  text-align: -webkit-match-parent;
}
.hover__heading {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
  line-height: 20px;
  color: #d9bd3e !important;
  margin: 5px;
}
.hover__linka {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 10px !important;
  line-height: 19px !important;
  letter-spacing: 0.05em !important;
  text-transform: capitalize;
  color: #1e185f !important;
  background-color: transparent !important;
  text-decoration: none !important;
  transition: all 0.3s ease 0s;
  box-sizing: border-box;
  cursor: pointer;
}
.header__main {
  width: 100%;
  display: flex;
}
.short_tab {
  display: none;
}
.sub__headers {
  width: 94%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1%;
  margin-bottom: 1%;
}
.portal__button {
  height: 28.8px;
  width: 109.3px;
  border-radius: 14.4px;
  color: #1e185f;
  background-color: transparent;
  border: 1px solid #1e185f;
}
.sub__header2 {
  height: 50px;
  width: 1004px;
  border-radius: 13.4703px 0px 0px 0px;
  background-color: #1e185f;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.phone__logo__No {
  display: flex;
  float: left;
  align-items: center;
  margin-bottom: 0px !important;
}
a.courses__text {
  margin-top: 1%;
  margin-left: -20%;
  text-decoration: none;
  color: white;
}
a.courses__text1 {
  padding: 2px 16px 4px 15px;
  border-radius: 15px;
  font-weight: 500;
  background-color: #d9bd3e; 
  text-decoration: none;
  color: white;
}
.header__logo {
  margin: 15px;
}
.phone__logo {
  margin: 15px;
}
/* ##################PicContainer######################################################### */
.main__Image__Container {
  /* background-image: url("../components/images/mainpic.png"); */
  /* width: 1366px;
  height: 379px;
  background-repeat: no-repeat; */
  margin-top: -1%;
  box-sizing: border-box;
}
.send__button__div {
  display: flex;
}

.heading__1 {
  width: 114px;
  height: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 19.2px;
  font-family: "Roboto";
  font-style: normal;
}
.heading__2 {
  width: 383px;
  height: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 19.2px;
  letter-spacing: 2.5%;
  color: #d9bd3e;
  font-family: "Roboto";
  font-style: normal;
}
.form__container {
  position: absolute;
  top: 150px;
  z-index: 1;
  float: right;
  right: 7%;
  width: 20%;
  background: transparent;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}
.send__msg__div {
  display: flex;
  justify-content: flex-start;
  float: right;
  margin-top: 2%;
}
.msg__text {
  color: #1f105a;
  font-size: 16px;
  margin-right: 20px;
  width: -1%;
}
.send__msg__btn {
  color: white;
  font-family: "Roboto";
  background-color: #d9bd3e;
  font-size: 18px;
  line-height: 27px;
  border-radius: 100%;
  border: #d9bd3e;
  width: 46%;
}
.form__heading {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 5px;
  font-family: "Roboto" !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1e185f !important;
  background-color: white !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0px;
}
.form__elements {
  width: 100%;
}
.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1e185f;
  padding: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form__inputs {
  width: 250.79px;
  height: 42.77px;
  font-family: "Roboto";
  font-size: 12px !important;
  background: #edf6fe !important;
  padding: 10px 0px 7px 10px;
  margin: 2px 0px;
  border: none;
  color: rgba(82, 82, 82, 0.65) !important;
}
.sub__container__main {
  width: 100%;
  height: 58px;
  background-color: #d9bd3e;
}
.sub__container__main__text {
  margin-left: 2%;
  width: 108px;
  height: 69px;
  left: calc(50% - 108px / 2 - 569px);
  top: 483px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  /* line-height: 36px; */
  /* or 106% */

  letter-spacing: 0.075em;
  text-transform: uppercase;

  color: #1e185f;
}
.sub__container__main__text1 {
  margin-left: 1.5%;
  border-left: 3px solid white;
  width: 215px;
  height: 48px;
  left: calc(50% - 215px / 2 - 372.5px);
  top: 495px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* or 114% */

  letter-spacing: 0.11em;
  text-transform: uppercase;

  color: #1e185f;
}
.sub__container2 {
  display: flex;
  background-color: transparent;
  width: 100%;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 50px;
  align-items: center;
  box-shadow: 7px 40px 21px -35px rgb(0 0 0 / 8%);
}
.boxVContainer {
  width: 30%;
}
.boxV__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.boxV__top__h2 {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 19px;
  color: #1c1d4f !important;
  padding-bottom: 20px;
  text-align: center;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 8px;
  background-color: #1e185f;
}
.information__text {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff !important;
  /* padding-bottom: 4%; */
  margin-bottom: 0px;
}
/* cetagorycontainer CSS ######################################################################## */
.CetagoryContainer__main {
  width: 95%;
  display: flex;
  justify-content: center;
  /* margin-top: 2%; */
  padding-top: 0 !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.cetagoryContainer__row {
  width: 95%;
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.contentContainer {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.headContenter__text {
  color: #110b57 !important;
  font-family: "Roboto" !important;
  font-weight: 500;
  text-align: center;
  font-size: 40px;
  line-height: 47px;
}
.headContenter__text2 {
  color: #110b57 !important;
  font-family: "Roboto" !important;
  width: 575px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
.home_Feature {
  margin-top: -1%;
  width: 100%;
}
.home_Feature2 {
  margin-top: -11%;
  width: 100%;
}
.custom__carosal__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all__row {
  padding-top: 65px;
  justify-content: space-between;
  /* flex-wrap: nowrap; */
  width: 100%;
  display: flex;
  padding-bottom: 3rem !important;
}
.row__col {
  margin-bottom: 3rem !important;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  box-sizing: border-box;
}
.row__images {
  width: -webkit-fill-available;
  height: auto !important;
  border-radius: 2%;
}
.content_box_feature {
  background: #1f105a;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  height: 55px;
  align-items: center;
  margin-top: -2%;
}
.feature_title {
  font-size: 14px;
}
.feature_price {
  background: #d9bd3e;
  padding: 18px 3px;
  border-radius: 50%;
  margin-top: -37px;
  color: white;
  font-size: 20px;
  text-align: center;
  height: 64px;
  width: 65px;
}
.main__container {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 65px;
  background: #eff7fa;
  padding: 60px 20px;
  margin-top: -4%;
}
.sub__main__row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerContainer__heading {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #110b57 !important;
  margin-top: -3%;
}
.headerContainer__text {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #7d7d7d !important;
  padding: 1px 170px 6px 170px;
}
.popular__Course {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Feature_vid_Div {
  width: 70%;
  height: auto;
  margin-bottom: 60px;
  margin-left: 14%;
}
iframe#feature_video {
  margin-left: 20%;
}
.courses__videos {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.slider_wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}
.slider__item {
  flex: 0 0 20%;
  max-width: 25%;
}
.coursesBox {
  width: 30%;
  height: 370px;
  background: #ffffff;
  box-shadow: 4px 4px 20px 5px rgb(0 0 0 / 7%);
  border-radius: 10px;
  margin-bottom: 30px;
  width: 250px !important;
  height: 250px !important;
}
.slider__video {
  cursor: pointer;
  height: 114px;
}
.contentContainer {
  overflow: hidden;
  height: auto;
  padding: 5px 15px;
}
.contentContainer__text {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #0c083b !important;
  padding-bottom: 10px;
  margin: 5%;
}
.discription {
  font-size: 12px;
  line-height: 26px;
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 300;
  color: #353535 !important;
  margin: -2%;
}
/* ############################About##################################################### */
.home__section__3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.home__section__3__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.section3__row__h2 {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #110b57 !important;
  padding-top: 1%;
}
.section__row__text {
  justify-content: center;
  width: 100%;
  padding: 5px 248px;
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #7d7d7d !important;
  margin: 5px;
}
.main_div {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  height: 350px;
}
.main_div__animation__1 {
  width: 800px;
  height: 275px;
  display: block;
  opacity: 1;
  box-sizing: border-box;
}
.animation__box__1 {
  display: flex;
  box-sizing: border-box;
}
.content_box_animation {
  background: #d9bd3e;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  width: 85%;
  box-sizing: border-box;
}
.image_part {
  width: 40%;
  box-sizing: border-box;
  vertical-align: middle;
  border-style: none;
}
.text__part__1 {
  width: 55%;
  color: #ffffff !important;
}
.text__part__heading__home__section {
  color: white !important;
  font-weight: 600;
  font-size: 20px;
  margin: 5%;
}
.text__part__text__home__section {
  color: white;
  font-weight: 400;
  margin: 5%;
  font-size: 16px;
}
.aboutPic {
  width: 100% !important;
  object-fit: contain;
}
/* ######################Footer###################################### */
.Footer__main {
  padding: 40px 0px;
  background-color: #1e185f !important;
}
.footer__icons_all {
  display: flex;
}
.text__a {
  color: white;
}
.footer__container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.footer__container__row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.footer__container__1 {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.footer__container__1__content {
  display: block;
  overflow: hidden;
  text-align: center !important;
}
.footer__container__image__part {
  display: flex;
  justify-content: center;
}

.footer__img {
  width: 150px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.footer__icons {
  margin-top: 30px;
}
.footer__social__icons {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.list__social__icons {
  display: inline-block;
}
.link__social__icons {
  border: 1px solid #444;
  color: #444;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #eee !important;
  color: #eee !important;
  text-decoration: none !important;
  color: #eee !important;
}
.footer__container__2 {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.footer__container__2 {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.footer__container__2__content {
  display: block;
  overflow: hidden;
}
.footer__container__2__header {
  padding-bottom: 20px;
  margin-right: 68%;
}
.footer__container__2__heading {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #d9bd3e !important;
  margin: 5px;
  
}
.footer__container__2__course__list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer-container__2__course__list__number {
  width: 100%;
  border: 0;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.footer__container__2__course__list__link {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 10px;
  color: #e2e2e2 !important;
  text-decoration: none;
}
/* #################################pic-container-mobile########################### */
@media (max-width: 700px) {
  .fae-mobile-tabs {
    display: block;
  }
  .main__Image__Container {
    display: block;
    width: 100%;
  }
  .form__container {
    display: block;
    width: 80%;
    /* background: transparent; */
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    background: #1e185f !important;
    box-shadow: 1px 8px 7px rgb(0 0 0 / 10%);
    position: unset;
  }
  .bannerContent2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
    padding-top: 20px;
  }
  .form__heading {
    width: 100%;
    height: auto;
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    line-height: 30px;
    text-align: center;
    color: #ffff !important;
    margin-bottom: 3px;
    padding: 5px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #1e185f !important;
  }
  .inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1e185f;
    /* padding: 4px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 17px;
    padding-right: 17px;
  }
  .form__inputs {
    border-radius: 2%;
    border-radius: 2%;
    width: 270px;
    height: 35px;
    margin: 3px 3px;
    padding: 3px 0px 3px 5px;
  }
  .send__msg__div {
    display: flex;
    justify-content: flex-start;
    float: right;
    margin-bottom: 4%;
  }

  .msg__text {
    color: #ffff;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 4%;
  }
  .send__msg__btn {
    margin-left: -11%;
  }
  /* #################################Sub-container########################################### */
  .sub__container {
    box-shadow: 7px 40px 21px -35px rgb(0 0 0 / 8%);
    display: flex;
    flex-direction: column;
    background-color: #fff !important;
    width: 100%;
    box-shadow: 0px 5px 7px rgb(0 0 0 / 25%);
    border-radius: 3px;
    background: #f2f9ff;
  }
  .sub__container2 {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: initial;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 20px;
    align-items: center;
  }
  .boxVContainer {
    width: 100%;
  }
  .boxV_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .boxV__top__h2 {
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 19px;
    color: #1c1d4f !important;
    padding-bottom: 20px;
    text-align: center;
  }
  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 4% !important;
    margin-top: -4%;
  }
  .information__text {
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #ffffff !important;
  }
  .sub__container__main {
    display: none;
  }
  .sub__container2 {
    display: block;
  }
  /* ##############################################cetagoryContainer########################################### */
  .CetagoryContainer__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 5px; */
    /* background: radial-gradient( 70.69% 70.69% at 50% 50%, #251e75 0%, #0b0638 100% ); */
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
  }
  .cetagoryContainer__row {
    width: 100% !important;

    padding-bottom: 100px;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contentContainer {
    overflow: hidden;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  /* .headContenter {
    margin-bottom: 30px;
  } */
  .headContenter__text {
    color: #110b57 !important;
    font-family: "Roboto" !important;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 47px;
  }
  .headContenter__text2 {
    color: #110b57 !important;
    font-family: "Roboto" !important;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
  .home_Feature {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .custom__carosal__row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .all__row {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px !important;
    display: block !important;
  }
  .row__col {
    margin-bottom: 3rem !important;
    flex: 0 0 25%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    box-sizing: border-box;
    margin-top: -9%;
  }

  .row__images {
    width: -webkit-fill-available;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
  }
  .content_box_feature {
    background: #1f105a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    height: 55px;
    align-items: center;
  }
  .feature_title {
    font-size: 14px;
    color: white;
  }
  .feature_price {
    background: #d9bd3e;
    padding: 18px 3px;
    border-radius: 50%;
    margin-top: -37px;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 64px;
    width: 65px;
  }
  /* ##############################VideoContainer##################################################### */
  .main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .link__tag__a2 {
    text-decoration: none !important;
  }
  .sub__main__row {
    display: flex;
    flex-direction: column;
  }
  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .headerContainer__heading {
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 47px;
    color: #110b57 !important;
    text-align: center;
    padding: 1px 5px 1px 5px;
  }
  .headerContainer__text {
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #7d7d7d !important;
    text-align: center;
    padding: 5px;
  }
  .Feature_vid_Div {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-bottom: 4%;
  }
  .courses__videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slider {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .slider_wrapper {
    /* transform: translateX(9199.89%); */
    box-sizing: border-box;
  }
  .slider__item {
    transform: translateX(10%);
    flex: 0 0 80%;
    max-width: 80%;
  }
  .coursesBox {
    width: 90%;
    height: fit-content;
    background: #ffffff;
    box-shadow: 4px 4px 20px 5px rgb(0 0 0 / 7%);
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 40px;
  }
  .slider__video {
    cursor: pointer;
    height: 114px;
    font-family: "Roboto" !important;
  }
  .contentContainer {
    overflow: hidden;
    height: auto;

    font-family: "Roboto" !important;
  }
  .link__tag__a2 {
    text-decoration: none !important;
  }
  .contentContainer__text {
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0c083b !important;
    padding-bottom: 10px;
    text-decoration: none !important;
  }
  .discription {
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #353535 !important;
  }
  /* ############################################About######################################################### */
  .home__section__3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -11%;
  }
  .home__section__3__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .section3__row__h2 {
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 47px;
    padding: 1px 20px;
    justify-content: center;
    color: #110b57 !important;
  }
  .section__row__text {
    justify-content: center;
    width: 100%;
    padding: 5px 20px;
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #7d7d7d !important;
  }
  .main_div {
    height: 450px !important;
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    margin-left: 13%;
  }
  .main_div__animation__1 {
    width: 100%;
    display: block;
    opacity: 1;
    height: auto;
  }
  .animation__box__1 {
    display: flex;
    box-sizing: border-box;
  }
  .content_box_animation {
    flex-direction: column;
  }
  .image_part {
    width: 100%;
  }
  .aboutPic {
    vertical-align: middle;
    border-style: none;
    vertical-align: middle;
    border-style: none;
  }
  .text__part__1 {
    width: 100%;
    color: #ffffff !important;
  }
  .text__part__heading__home__section {
    color: white !important;
    font-weight: 600;
    font-size: 20px;
  }
  .text__part__text__home__section {
    color: white;
    font-weight: 400;
    margin: 5px;
  }
  /* #############################Footer######################################## */
  .Footer__main {
    padding: 40px 0px;
    background-color: #1e185f !important;
  }
  .footer__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .footer__container__row {
    display: block;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .footer__container__1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
  }
  .footer__container__1__content {
    display: block;
    overflow: hidden;
    text-align: center !important;
    margin-bottom: 30px;
  }
  .footer__container__image__part {
    text-align: center !important;
  }
  .footer__img {
    width: 150px;
    vertical-align: middle;
    border-style: none;
  }
  .footer__icons {
    margin-top: 30px;
    box-sizing: border-box;
  }
  .footer__social__icons {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }
  .list__social__icons {
    display: inline-block;
  }
  .link__social__icons {
    border: 1px solid #444;
    color: #444;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
  }
  .footer__container__2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
    background-color: #1e185f;
    text-align: center;
  }
  .footer__container__2__content {
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .footer__container__2__header {
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .footer__container__2__heading {
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #d9bd3e !important;
  }
  .footer__container__2__course__list {
    margin-top: 0;
    margin-bottom: 0rem;
    list-style: outside none none;
  }
  .footer__container__2__course__list__number {
    width: 100%;
    border: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .footer__container__2__course__list__link {
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 0px;
    color: #e2e2e2 !important;
  }
  /* #################################Header######################################## */
  .short_tab_line_button {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    display: block;
  }
  .shot_tab_span {
    color: #1f105a;
  }
  .short_tab_expand {
    background-color: rgb(30, 24, 95) !important;
    position: absolute;
    top: 80px;
    width: 90%;
    background: #1e185f;
    border-radius: 10px 0px 10px 10px;
    justify-content: left;
    height: fit-content !important;
    z-index: 11;
    margin-left: 5%;
  }
  .short_tab_ul {
    background-color: transparent !important;
    width: 80%;
    align-items: baseline;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .short_tab_li {
    position: relative;
    display: block;
    box-sizing: border-box;
    background-color: transparent !important;
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 20px;
    color: #ffffff !important;
    padding: 18px 10px;
  }
  .short__i__phone {
    display: flex;
    margin-left: -8%;
  }
  .short_a_li {
    text-decoration: none;
    color: white;
  }
  .header__main {
    position: relative;
    background-color: white !important;
    padding: 0px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header__img {
    width: 35%;
    margin-left: -1rem;
  }
  .header__logo {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
  }
  .sub__header2 {
    display: none;
  }
  .sub__headers {
    display: none;
  }
  .short_tab {
    display: flex !important;
    justify-content: space-between;
    position: relative;
  }
  .courses__tab__container {
    display: flex;
  }
  .courses__tab {
    box-sizing: border-box;
  }
  .nav__link {
    text-decoration: none;
  }
  .short__heading {
    background: #d9bd3e;
    padding: 2px 10px;
    border-radius: 15px;
    color: white;
  }
  .portal__tab {
    margin-left: 10px;
  }
  .portal__nav__link {
    text-decoration: none;
  }
  .portal__short__heading {
    background: #1f105a;
    padding: 2px 10px;
    border-radius: 15px;
    color: white;
  }
  .footer__icons_all {
    display: flex;
    margin-left: 33%;
  }
}

@media (max-width: 500px) {
  .fae-mobile-tabs {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .slider_wrapper {
    justify-content: center;
    transform: translateX(53%);
  }
}
@media screen and (max-width: 768px) {
  .popularCourses .slider__wrapper {
    justify-content: center;
    transform: translateX(57%);
  }
  .footer__container__1__content {
    margin-bottom: 30px;
  }
}
