/* .main__div {
  background-color: black;
} */
.main__div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding-top: 30px;
}
.mainsub__div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 30px;
  gap: 30px;
}
.heading__div {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.title__div {
  grid-gap: 5px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.para__div {
  font-size: 17px;
  text-align: center;
  font-weight: 700;
  color: #000;
}
.array__div__main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30%;
}
.map__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 15px;
  gap: 15px;
  width: 100%;
}
.map__div2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  flex-direction: column;
}
.array__firstpart {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px 0;
}
.array__img {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px 0;
}
.img__heading {
  display: flex;
  align-items: center;
  grid-gap: 20px;
  gap: 20px;
}
.img__general {
  width: 137px;
}
.array__title {
  cursor: pointer;
}
.heading__general {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}
.price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.array__secondpart {
  display: flex;
  justify-content: none;
  align-items: center;
  grid-gap: 15px;
  gap: 15px;
}
.array__price {
  font-weight: 600;
  font-size: 14px;
  color: #626262;
}
@media (max-width: 700px) {
  .fae-mobile-tabs {
    display: block;
  }
  .main__div {
    padding-top: 10px;
  }
  .mainsub__div {
    grid-gap: 15px;
    gap: 15px;
    width: 95%;
  }
  .img__general {
    width: 130px;
  }
  .heading__general {
    font-weight: 700;
    font-size: 13px;
  }
}
