 .thankyou__page1 {
    width: 100%;
    background-color: #f4f4f4 !important;
    font-family: 'Roboto' !important;

 }

 .thankyou__page1 h {
    color: #110b57 !important;  
    font-size: 35px !important; 
 }

 .thankyou__page1 p {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 1px !important;
 }

 .thankyou__page1 header {
    text-align: center;
    font-size: 16px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid #dedede;
    width: 100%;
    background-color: #F3F7FF;
 }

 .thankyou__page1 section {
    background-color: #fff;
    width: 100%;
    /* padding: 30px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* grid-gap: 50px; */
    /* gap: 50px; */
 }
 
 
 
 

 
 
 

 

.banner__sec {
    margin-bottom: 4rem !important;
}

@media (max-width: 768px) {
 
    .banner__sec {
        margin-bottom: 0rem !important;
    }
     
}



 
 
.submitbtn {
    color: white;
    font-family: 'Roboto';
    background-color: #D9BD3E;
    border: none;
    float: right;
    font-size: 18px;
    line-height: 27px;
    border-radius: 6px;
    padding: 14px 44px;
}


 