.all_div_Thankyou {
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 2%;
}
.all_2nd_div_thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  grid-gap: 10px;
  gap: 10px;
  margin-top: 2%;
}
.thankyou_heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3px 3px 27px;
}

.booking_heading {
  font-size: 25px;
  font-weight: 500;
  color: #000;
}
.booking_para {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}
.main__thankyou__div {
  border-radius: 10px;
  background-color: #fff;
  padding: 6px 2px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 153%;
}
.rows__all {
  background-color: #fff;
  border: initial;
  border-radius: 0;
  border-radius: initial;
  box-shadow: none;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}
.rows__all2 {
  background-color: #fff;
  border: initial;
  border-radius: 0;
  border-radius: initial;
  box-shadow: none;
  padding: 10px 0;
  width: 153%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2%;
  margin-top: 4%;
}
.thankyouimg {
  width: 42px;
  margin: 1px 6px 0 0;
  background-color: #fff;
  border-radius: 3px;
  height: 40px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}
.rows__material {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(237, 237, 237);
  padding-bottom: 10px;
  cursor: pointer;
}
.row__firstPart {
  color: #626262;
  font-size: 12px;
}
.row__SecondPart {
  font-weight: 700;
  color: #000;
  font-size: 13px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.greeting__text {
  font-weight: 700;
  font-size: 13px;
  color: #626262;
  width: 113%;
}
.row__Part1 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.row__Part2 {
  margin-left: auto !important;
  font-weight: 700;
  font-size: 13px;
  color: #000;
}
@media (max-width: 700px) {
  .fae-mobile-tabs {
    display: block;
  }
  .booking_heading {
    font-size: 20px;
  }
  .booking_para {
    font-size: 11px;
  }
}
